@{
    ViewData["Title"] = "Home Page";
}


 
<div class="col-md-12">

    <p> kendo version:  <strong id="kendoVersion">   </strong> </p>

</div>



<script type="text/javascript">
    
    $(document).ready(function(){

            $("#kendoVersion").text(kendo.version);
    })

</script>